.App{
  margin: auto;
  width: 100%;
  display: block;
  justify-content: center;
}

.App-header{
  display: flex;
  margin: auto;
  justify-content: center;
}

.search{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}


.recipe-container{
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.recipe{
  margin: auto;
  display: inline-block;
  background-color: aliceblue;
  padding: 5px;
}

.recipe > img{
  width: 600px;
  height: 400px;
}